parameters:
    level: 1
    bootstrapFiles:
        - "%currentWorkingDirectory%/.Build/vendor/autoload.php"
        - "%currentWorkingDirectory%/Resources/Private/PHP/Composer/autoload.php"
    paths:
        - %currentWorkingDirectory%/Classes
        - %currentWorkingDirectory%/ext_localconf.php
        - %currentWorkingDirectory%/ext_emconf.php
    ignoreErrors:
        -
            message: "#^There is no aspect \"security\" configured so we can't figure out the exact type to return when calling TYPO3\\\\CMS\\\\Core\\\\Context\\\\Context\\:\\:getAspect$#"
            count: 1
            path: Classes/Middleware/AuthResolver.php
            reportUnmatched: false
        -
            message: "#^Class TYPO3\\\\CMS\\\\Core\\\\Crypto\\\\HashService not found\\.$#"
            count: 1
            path: Classes/Utility/Config.php
            reportUnmatched: false
