parameters:
    level: 1
    bootstrapFiles:
        - "%currentWorkingDirectory%/.Build/vendor/autoload.php"
        - "%currentWorkingDirectory%/Resources/Private/PHP/Composer/autoload.php"
    paths:
        - %currentWorkingDirectory%/Classes
        - %currentWorkingDirectory%/ext_localconf.php
        - %currentWorkingDirectory%/ext_emconf.php
    ignoreErrors:
        -
            message: "#^Instantiated class TYPO3\\\\CMS\\\\Core\\\\Security\\\\RequestToken not found\\.$#"
            count: 1
            path: Classes/Middleware/AuthResolver.php
