<html>

<body>

Template for modCompetitions. Not used right now. ###LOGS###

<!-- Dieser Teil wird in allen Sub-Modulen integriert -->
###COMMON_START### ###COMMON_START### ###COMMON_END###
<div>Parsetime: ###MOD_PARSETIME###ms Memory used:
###MOD_MEMUSED### Bytes</div>
###COMMON_END###

<!-- Handler Overview -->
###OVERVIEW###
<h1>Statistische Kennzahlen</h1>
<style>
.number {text-align:right;}
.container {
    box-sizing: border-box;
    width: 850px;
    height: 450px;
    padding: 20px 15px 15px 15px;
    margin: 15px 15px;
    border: 1px solid #ddd;
    background: #fff;
    background: linear-gradient(#f6f6f6 0, #fff 50px);
    background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.placeholder { width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.2em;
}

</style>
<p>
<table>
    <tr>
        <td rowspan="10">
        <div class="container" style="width:350px; height:200px; margin:0 10px 0 10px;" >
            <div id="placeholder_installs" class="placeholder"></div>
        </div>
        </td>
        <th>Installationen gesamt:</th>
        <td class="number">###STATS_ALL_INSTALLS###</td>
    </tr>
    <tr>
        <th>Installationen ANDROID:</th>
        <td class="number">###STATS_ANDROID_INSTALLS###</td>
    </tr>
    <tr>
        <th>Installationen IOS:</th>
        <td class="number">###STATS_IOS_INSTALLS###</td>
    </tr>
    <tr>
        <th>Installationen Windows:</th>
        <td class="number">###STATS_WINDOWS_INSTALLS###</td>
    </tr>
</table>
</p>

<div style="margin:10px 0">
    <label>Von: </label>
    <input type="text" id="data[timespan][dfFrom]" name="data[timespan][dfFrom]" value="###DATE_FROM###">
    <input type="button" id="openCalFrom" value="..." />
    <label>Bis: </label>
    <input type="text" id="data[timespan][dfTo]" name="data[timespan][dfTo]" value="###DATE_TO###">
    <input type="button" id="openCalTo" value="..." />
    ###SELECT_PERIOD###
    <input type="submit" name="change" value="Aktualisieren" />
    <div id="calendar"></div>
</div>

<h2>Unterschiedliche Geräte pro Tag und System</h2>
<div class="container" style="width:600px; height:300px">
    <div id="placeholder_devices" class="placeholder"></div>
</div>

<h2>Zugriffe pro Tag und System</h2>
<div class="container" style="width:600px; height:300px">
    <div id="placeholder_access" class="placeholder" ></div>
</div>

<script language="javascript" type="text/javascript" src="../../rn_base/Resources/Public/JavaScript/Flot/jquery.js"></script>
<script language="javascript" type="text/javascript" src="../../rn_base/Resources/Public/JavaScript/Flot/jquery.flot.js"></script>
<script language="javascript" type="text/javascript" src="../../rn_base/Resources/Public/JavaScript/Flot/jquery.flot.time.js"></script>
<script language="javascript" type="text/javascript" src="../../rn_base/Resources/Public/JavaScript/Flot/jquery.flot.pie.js"></script>

<script><!--


jQuery(function() {
    // Geräte pro Tag/System
    var dataInstalls = ###LOGS_INSTALLS###;
    var options = {
            yaxis: {
                minTickSize: 1,
            },
            xaxis: {
                mode: "time",
                minTickSize: [1, "day"],
                timeformat: "%Y/%m/%d"
            },
            grid: {
                hoverable: true
            },
            colors: ["#B88A00", "#66FF33", "#FF8833", "#003DF5"]
        };
    jQuery.plot("#placeholder_devices", dataInstalls, options);

    var dataRequests = ###LOGS_REQUESTS###;
    jQuery.plot("#placeholder_access", dataRequests, options);

    // Pie-Chart
    var data = [
                { label: "IOS",  data: ###STATS_IOS_INSTALLS###},
                { label: "Windows",  data: ###STATS_WINDOWS_INSTALLS###},
                { label: "Android",  data: ###STATS_ANDROID_INSTALLS###}
            ];

    jQuery.plot("#placeholder_installs", data, {
        colors: ["#B88A00", "#66FF33", "#FF8833"],
        series: {
            pie: {
                innerRadius: 0.5,
                show: true
            }
        },
        legend: {
            show: false
      }
    });

    jQuery("<div id='tooltip'></div>").css({
        position: "absolute",
        display: "none",
        border: "1px solid #fdd",
        padding: "2px",
        zIndex: 2000,
        "background-color": "#fee",
        opacity: 0.80
    }).appendTo("body");

    jQuery(".placeholder").bind("plothover", function (event, pos, item) {
        console.info('Bin hier');
        if (item) {
            var x = item.datapoint[0],
                y = item.datapoint[1];
            var date = new Date(x);
            var dateStr = date.getDate()+'.'+(date.getMonth()+1)+'.'+date.getFullYear();

            jQuery("#tooltip").html(item.series.label + ": <b>" + y + "</b> am " + dateStr)
                .css({top: item.pageY+5, left: item.pageX+5})
                .fadeIn(200);
        } else {
            jQuery("#tooltip").hide();
        }
    });

});





//define function to be executed when page loaded
Ext.namespace('T3rest');

T3rest.DatePicker = function(options) {
    var options = options;
    var selectHandler = function(myDP, date) {
        //get the text field
//		Ext.get('loading').remove();
        var field = document.getElementById(myDP.field);
        //add the selected date to the field
        field.value = date.format('d.m.Y');
        //hide the date picker
        myDP.hide();
    };
    var init = function() {
        var myDP = new Ext.DatePicker({
            field: options.field,
            startDay: 1,
            listeners: {
                'select':selectHandler
            }
        });
        //render the date picker
        myDP.render('calendar');
        //hide date picker straight away
        myDP.hide();
        //define click handler
        var clickHandler = function() {
            //show the date picker
            myDP.show();
        };
        //add listener for button click
        Ext.EventManager.on(options.button, 'click', clickHandler);
    }
    init();
};


Ext.onReady(function() {
    Ext.QuickTips.init();
    T3rest.DatePicker({field:'data[timespan][dfTo]', button:'openCalTo'});
    T3rest.DatePicker({field:'data[timespan][dfFrom]', button:'openCalFrom'});

});

--></script>

###OVERVIEW###

<!-- Handler LogList -->
###LOGLIST### ###PAGER### ###SEARCHFORM### ###LIST### Anzahl:
###TOTALSIZE### ###LOGLIST### ###LOGS###




</body>
</html>
